@import "../../root.css"; 

.custom-select {
    display: flex;
    flex-direction: column;
    background-color: var(--background-light);
    color: var(--foreground);
    border-radius: 5px;
    cursor: pointer;

}
.custom-select > p {
    padding: 10px 10px;
}
.custom-select .placeholder {
    color: rgb(117,117,117);
}
.custom-select .options {
    display: none;
}
.custom-select .active {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--foreground)
}
.custom-select .option {
    padding: 10px;
}
.custom-select .option:hover{
    background-color: rgba(21, 255, 0, 0.123);
}