.likes {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.likes > p {
    margin-left: 10px;
}
.likesList h2{
    text-align: center;

}
.likesList .like{
    display: flex;
    align-items: center;
    gap: 10px;
}