@import "../../root.css";

#goals .goals {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
}
#goals .goals  .goal{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid var(--background-light);
    padding: 20px;
    position: relative;
    overflow: hidden;
}
#goals .goals .goal .info{
    display: flex;
    justify-content: space-between;
}
#goals .goals .goal .info p {
    font-size: 16px;
    font-weight: 100;
    font-family: Josefin;
}
#goals .goals .goal > .header {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 100%;
}
#goals .goals .goal .header .progress {
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
    transition: 1s;
    height: 100%;
    background-color: var(--primary);
}
#goals .goals .goal .sub-progresses {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 12px;
    gap: 20px;
}
#goals .goals .goal .sub-progresses .sub-progress {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 1px solid var(--background-light);
    color: var(--foreground-dark);

}
#goals .goals .goal  .sub-progresses .sub-progress .header {
    display: flex;
    justify-content: space-between;
    color: var(--foreground);
}
#goals .goals .goal .sub-progresses .sub-progress .main p{
    width: 100%;
}
#goals .goals .goal .sub-progresses .sub-progress .main .sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#goals .goals .goal>.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#goals .goals .goal>.footer .edit-icon{
    cursor: pointer;
}
@media(max-width: 600px){
    #goals .goals .goal .info{
        flex-direction: column;
    }
}