@import "./root.css";
.page {
    padding: 20px;
    padding-bottom: 60px;
}
.form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    gap: 5px;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: var(--background-dark);
}
#header .nav-links {
    display: flex;
    gap: 30px;
}
.logo {
    font-family:cursive
}
.logo span{
    color: var(--primary);
    /* text-decoration: line-through; */
}
.button-icon{
    cursor: pointer;
}
#message {
    padding: 10px 15px;
    position: absolute;
    width: 100%;
    top: 0;
    transition: 1s;
}
#message.success{
    background-color: rgba(1, 109, 1, 0.9);
}
#message.warning{
    background-color: rgba(226, 203, 0, 0.9);
}
#message.error {
    background-color:  rgba(179, 0, 0, 0.9);
}
#message.hidden {
        transform: translateY(-100%);
        transition-duration: 1s;
}
@media(max-width: 500px){
    #header .logo {
        font-size: 26px;
    }
    #header .nav-links {
            display: flex;
            gap: 10px;
        }
}